@import '../../App.scss';

$breakpoint-mobile: map-get($grid-breakpoints, "md") + 120px;

header {
  @include wide-container($margin: 0);
  @include flex(row);
  background-color: #FFF;
  #sidebarnav-open, span {
    display: none;
  }

  #sidebarnav-open {
    position: relative;
    right: -30px;
    width: 75px;
    height: 75px;
    margin-right: 0;
    line-height: 0;
    font-size: 5em;
    color: $color-blue;
    background-color: #fff;
    border: none;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: $breakpoint-mobile) {
    @include flex(row, $justify: space-between);
    padding: 2em 5em;

    nav {
      display: none;
    }

    #sidebarnav-open {
      display: block;
    }

    span {
      display: inline;
    }
  }
}