@import '../../../App.scss';

$border-size: 2px;
$breakpoint-mobile: map-get($grid-breakpoints, "md") + 120px;

nav {
  @include flex(row, $justify: space-between);
  width: 50%;
  max-width: 500px;
  margin-top: $border-size;

  .header-link, a {
    color: $color-blue;
    font-size: 1.35em;
    text-decoration: none;
    letter-spacing: 0.5px;
    border-bottom: $border-size solid #fff;
    transition: 0.15s ease-in-out;

    &:nth-child(3) {
      padding: 0.75em;
      background-color: $color-blue;
      color: #fff;
      font-weight: bold;
      border-radius: 10px;

      &:hover {
        position: relative;
        color: #000;
        border: 2px solid $color-blue;
        background-color: rgba(0, 0, 0, 0);
        font-weight: lighter;
      }
    }

    @media screen and (min-width: $breakpoint-mobile) {
      &:hover {
        border-bottom: 2px solid #000;
      }
    }
  }
}