@import '../../App.scss';

$mobile-breakpoint: map-get($grid-breakpoints, "md");

#about-me {
  #content-container {
    @include flex(row);
    @include wide-container($padding: 0.5em);
    height: fit-content;

    div  {
      padding: 0 1em;
      max-width: 50%;
      min-height: 15em;
      text-align: center;

      h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }

    #description {
      p {
        font-size: 1.2rem;
        max-width: 40ch;
      }
    }

    #technologies {
      ul {
        li {
          display: inline-block;
          
          img {
            margin: 0.1em 0.1em;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    #content-container {
      @include flex(column);

      div {
        padding: 0;
        max-width: 75%;

        &:nth-child(1) {
          margin-bottom: 2em;
        }

        h2 {
          font-size: 1.75rem;
        }
      }
    }
  }
}