@import '../../App.scss';

$mobile-breakpoint: map-get($grid-breakpoints, "md");

#certifications {
  @include flex(column);
  @include wide-container($padding: 0);

  h2 {
    font-size: 2rem;
  }

  #certifications-container {
    @include wide-container($padding: 0 1em);

    ul {
      @include flex(row);
      list-style: none;

      li {
        text-align: center;
      }
    }

    .certification-card {
      figure {
        figcaption {
          padding: 1em;
          text-align: center;
          max-width: 50ch;
        }

        img {
          width: 25vw;
          border-radius: 5px;
          transition: 0.15s ease-in-out;

          &:hover {
            cursor: pointer;
            transform: scale(1.04);
          }
        }
      }
  
      p {
        padding: 1em;
      }
    }
  }

  #opened-certification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: clamp(500px, 50%, 1000px);
    z-index: 3;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    #certifications-container ul {
      @include flex(column);

      .certification-card {
        margin: 1.5em;

        figcaption {
          max-width: 40ch;
          font-size: 1.2rem;
        }

        img {
          width: 50vw;
        }
      }
    }

    #opened-certification {
      width: 80vw;
    }
  }
}